:root {
  --fujiWhite: #dcd7ba;
  --oldWhite: #c8c093;
  --sumiInk0: #16161d;
  --sumiInk1: #1f1f28;
  --sumiInk2: #2a2a37;
  --sumiInk3: #363646;
  --sumiInk4: #54546d;
  --waveBlue1: #223249;
  --waveBlue2: #2d4f67;
  --winterGreen: #2b3328;
  --winterYellow: #49443c;
  --winterRed: #43242b;
  --winterBlue: #252535;
  --autumnGreen: #76946a;
  --autumnRed: #c34043;
  --autumnYellow: #dca561;
  --samuraiRed: #e82424;
  --roninYellow: #ff9e3b;
  --waveAqua1: #6a9589;
  --dragonBlue: #658594;
  --fujiGray: #727169;
  --springViolet1: #938aa9;
  --oniViolet: #957fb8;
  --crystalBlue: #7e9cd8;
  --springViolet2: #9cabca;
  --springBlue: #7fb4ca;
  --lightBlue: #a3d4d5;
  --waveAqua2: #7aa89f;
  --springGreen: #98bb6c;
  --boatYellow1: #938056;
  --boatYellow2: #c0a36e;
  --carpYellow: #e6c384;
  --sakuraPink: #d27e99;
  --waveRed: #e46876;
  --peachRed: #ff5d62;
  --surimiOrange: #ffa066;
  --katanaGray: #717c7c;
}

body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  background-color: var(--sumiInk0);
  color: var(--fujiWhite);
  line-height: 1.6;
  padding: 0 15px;
}

header,
main,
footer {
  max-width: 1200px;
  margin: auto;
  border: 1px solid var(--roninYellow);
}

header {
  background-color: var(--waveBlue1);
  padding: 40px 20px;

  text-align: center;
  border-bottom: 5px solid var(--roninYellow);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: var(--sumiInk2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  position: sticky;
  top: 0;
}

.nav-brand {
  display: flex;
  align-items: center;
}

.nav-brand i {
  margin-right: 10px;
  color: var(--roninYellow);
  font-size: 2rem;
}

.nav-brand a {
  text-decoration: none;
  color: var(--fujiWhite);
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin-left: auto;
}

.nav-links a {
  text-decoration: none;
  color: var(--fujiWhite);
  font-weight: bold;
  transition:
    color 0.3s,
    transform 0.3s;
}

.nav-links a:hover {
  color: var(--roninYellow);
  transform: translateY(-2px);
}

.nav-toggle {
  display: none;

  cursor: pointer;
  font-size: 2rem;
  color: var(--fujiWhite);
}

@media (max-width: 768px) {
  .nav-links {
    display: none;

    flex-direction: column;

    position: absolute;

    top: 60px;

    right: 0;
    background-color: var(--sumiInk2);

    width: 100%;

    padding: 15px 0;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }

  .nav-links li {
    text-align: center;

    padding: 10px 0;
  }

  .nav-toggle {
    display: block;
  }

  .nav-links.active {
    display: flex;
  }
}

.hero-section {
  text-align: center;
  padding: 50px 20px;

  background-color: var(--waveBlue1);
  border-radius: 8px;
  margin: 20px 0;
}

main {
  padding: 20px;
}

.section-about {
  background-color: var(--sumiInk1);

  padding: 40px 20px;

  border-radius: 8px;

  margin-bottom: 40px;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.work-experience-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project {
  background-color: var(--sumiInk2);
  text-align: justify;
  padding: 20px;

  border-radius: 8px;

  transition: transform 0.2s;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.project:hover {
  transform: translateY(-5px);
}

.project h3 {
  color: var(--roninYellow);

  margin-bottom: 10px;

  font-size: 1.5rem;
}

.project p {
  margin-bottom: 15px;

  color: var(--fujiWhite);
}

.project a {
  text-decoration: none;

  color: var(--roninYellow);

  font-weight: bold;

  transition: color 0.3s;
}

.project a:hover {
  color: var(--roninYellow);
}

h2 {
  color: var(--roninYellow);
  margin-bottom: 10px;
  font-size: 2rem;
  border-bottom: 2px solid var(--roninYellow);

  padding-bottom: 5px;
}

.project-list {
  list-style: none;
  padding: 0;
}

.project-list li {
  background-color: var(--sumiInk2);
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  transition: transform 0.2s;
  display: flex;
  justify-content: space-between;
}

.profile-link {
  display: inline-block;
  color: var(--crystalBlue);
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.profile-link:hover {
  transform: scale(1.05);
  color: var(--roninYellow);
}


.project-list li:hover {
  transform: scale(1.03);
}



.education {
  background-color: var(--sumiInk1);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.education-details {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 13px;
}

.education-summary,
.education-courses {
  background-color: var(--sumiInk2);
  padding: 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.education-summary:hover,
.education-courses:hover {
  transform: translateY(-3px);
}

.education-courses h3 {
  margin-bottom: 10px;
  color: var(--roninYellow);
}

.education-courses ul {
  list-style-type: disc;
  margin-left: 20px;
}

footer {
  background-color: var(--waveBlue2);
  padding: 40px 20px;

  text-align: center;
  color: var(--fujiWhite);
  border-top: 1px solid var(--sumiInk4);
}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.review {
  background-color: var(--sumiInk2);
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  width: 90%;
  max-width: 600px;

  transition: transform 0.2s;
}

.review:hover {
  transform: scale(1.02);
}

@media (max-width: 768px) {
  nav {
    flex-direction: row;

    align-items: space-between;
  }

  .nav-links {
    flex-direction: column;

    gap: 10px;

    margin-top: 10px;
  }

  .hero-section {
    padding: 30px 10px;
  }

  h2 {
    font-size: 1.5rem;
  }
}
