:root {
  --fujiWhite: #dcd7ba;
  --oldWhite: #c8c093;
  --sumiInk0: #16161d;
  --sumiInk1: #1f1f28;
  --sumiInk2: #2a2a37;
  --sumiInk3: #363646;
  --sumiInk4: #54546d;
  --waveBlue1: #223249;
  --waveBlue2: #2d4f67;
  --winterGreen: #2b3328;
  --winterYellow: #49443c;
  --winterRed: #43242b;
  --winterBlue: #252535;
  --autumnGreen: #76946a;
  --autumnRed: #c34043;
  --autumnYellow: #dca561;
  --samuraiRed: #e82424;
  --roninYellow: #ff9e3b;
  --waveAqua1: #6a9589;
  --dragonBlue: #658594;
  --fujiGray: #727169;
  --springViolet1: #938aa9;
  --oniViolet: #957fb8;
  --crystalBlue: #7e9cd8;
  --springViolet2: #9cabca;
  --springBlue: #7fb4ca;
  --lightBlue: #a3d4d5;
  --waveAqua2: #7aa89f;
  --springGreen: #98bb6c;
  --boatYellow1: #938056;
  --boatYellow2: #c0a36e;
  --carpYellow: #e6c384;
  --sakuraPink: #d27e99;
  --waveRed: #e46876;
  --peachRed: #ff5d62;
  --surimiOrange: #ffa066;
  --katanaGray: #717c7c;
}

body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "JetBrains Mono", monospace;
  background-color: var(--sumiInk0);
  color: var(--fujiWhite);
  line-height: 1.6;
  padding: 0 15px;
}

header,
main,
footer {
  margin: auto;
}

header {
  background-color: var(--waveBlue1);
  padding: 40px 20px;
  text-align: center;
  border-bottom: 5px solid var(--roninYellow);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--sumiInk2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  position: sticky;
  top: 0;
}

.card-description h1 {
  color: var(--roninYellow);
}

.reset-link {
  all: unset;
  cursor: pointer;
}

/*Project Page*/
.project-section {
  padding: 40px 20px;
  border-radius: 8px;
  margin: 40px 0;
  box-shadow: none;
  border-radius: 8px;
  background-color: var(--sumiInk1);
}

.project-section h2 {
  color: var(--roninYellow);
  font-size: 2.5rem;
  margin-bottom: 15px;

}

.project-description {
  margin-bottom: 30px;
  color: var(--fujiWhite);
  line-height: 1.6;
}

.project-image {
  display: block;
  margin: 20px auto;
  max-width: 80%;
  height: 80%;
  border-radius: 8px;
}

.kanagawa-description {
  font-size: 1.2em;
  line-height: 1.6;
  color: #e0e0e0;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #2b4d6d;
  border-left: 4px solid #ff6b6b;
  border-radius: 4px;
}



.project-image {
  max-width: 100%;
  height: auto;
}

.technologies-used {
  margin-bottom: 30px;
}

.technologies-used h3 {
  color: var(--roninYellow);
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.skill-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 15px;
}

.skill-item {
  display: flex;
  align-items: center;
  padding: 10px;
}

.skill-icon {
  font-size: 2rem;
  margin-right: 10px;
  color: var(--roninYellow);
}

.skill-name {
  color: var(--fujiWhite);
}

.project-links {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
}

.profile-link {
  background-color: transparent;
  color: var(--roninYellow);
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.profile-link:hover {
  color: var(--sumiInk0);
  transform: translateY(-2px);
}

.education-summary h3 {
  color: var(--roninYellow);
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background-color: var(--sumiInk1);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}


.card-image {
  width: 100%;
  height: auto;
  border-bottom: 2px solid var(--roninYellow);
  object-fit: cover;
  transition: transform 0.3s;
}

.card:hover .card-image {
  transform: scale(1.01);
}

.card-title {
  color: var(--roninYellow);
  font-size: 1.5rem;
  margin: 15px 20px;
}

.card-description {
  color: var(--fujiWhite);
  margin: 0 20px 15px;
  line-height: 1.4;
  margin: 20px;
}

.nav-brand {
  display: flex;
  align-items: center;
}

.nav-brand i {
  margin-right: 10px;
  color: var(--roninYellow);
  font-size: 2rem;
}

.nav-brand a {
  text-decoration: none;
  color: var(--fujiWhite);
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin-left: auto;
}

.nav-links a {
  text-decoration: none;
  color: var(--fujiWhite);
  font-weight: bold;
  transition:
    color 0.3s,
    transform 0.3s;
}

.nav-links a:hover {
  color: var(--roninYellow);
  transform: translateY(-2px);
}

.nav-toggle {
  display: none;
  cursor: pointer;
  font-size: 2rem;
  color: var(--fujiWhite);
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: var(--sumiInk2);
    width: 100%;
    padding: 15px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }

  .nav-links li {
    text-align: center;
    padding: 10px 0;
  }

  .nav-toggle {
    display: block;
  }

  .nav-links.active {
    display: flex;
  }
}

/*Skill */
.skill-section {
  background-color: var(--sumiInk1);
  padding: 40px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin: 20px 0;
}

.skill-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 50px;
  padding-top: 20px;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--fujiWhite);
  text-align: center;
  transition: transform 0.3s, color 0.3s;
  cursor: pointer;
}

.skill-item:hover {
  transform: scale(1.1);
  color: var(--roninYellow);
}

.skill-icon {
  font-size: 3rem;
  color: var(--crystalBlue);
  margin-bottom: 10px;
  transition: transform 0.3s;
}

.skill-item:hover .skill-icon {
  color: var(--roninYellow);
  transform: scale(1.2);
}

.skill-name {
  font-weight: bold;
}


/*404 Error*/
.error-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  margin: 0;
}

.error-container {
  text-align: center;
  max-width: 600px;
  padding: 40px 20px;
  background-color: var(--sumiInk1);
  border: 2px solid var(--roninYellow);
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.error-container h1 {
  font-size: 6rem;
  color: var(--autumnRed);
  margin-bottom: 20px;
}

.error-container h2 {
  font-size: 2rem;
  color: var(--roninYellow);
  margin-bottom: 10px;
}

.error-container p {
  font-size: 1.2rem;
  color: var(--fujiWhite);
  margin-bottom: 20px;
}

.error-container a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 25px;
  background-color: var(--waveBlue1);
  color: var(--fujiWhite);
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.error-container a:hover {
  background-color: var(--roninYellow);
  color: var(--sumiInk0);
}


.hero-section {
  text-align: center;
  padding: 50px 20px;
  background-color: var(--waveBlue1);
  border-radius: 8px;
  margin: 20px 0;
}

main {
  max-width: 1200px;
  padding: 20px;
}

.section-about {
  background-color: var(--sumiInk1);
  padding: 40px 20px;
  border-radius: 8px;
  margin-bottom: 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: justify;
}

.work-experience-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.kanagawa-slide-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 4px;
  border: 3px solid var(--roninYellow);

}

.project-detail {
  margin: 20px;
}

.kanagawa-slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.project {
  background-color: var(--sumiInk2);
  text-align: justify;
  padding: 20px;
  border-radius: 8px;
  transition: transform 0.2s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.project:hover {
  transform: translateY(-5px);
}

.project h3 {
  color: var(--roninYellow);
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.project p {
  margin-bottom: 15px;
  color: var(--fujiWhite);
}

.project a,
project-detail {
  text-decoration: none;
  color: var(--crystalBlue);
  font-weight: bold;
  transition: color 0.3s;
}

.project a:hover,
project-detail {
  color: var(--roninYellow);
}

h2 {
  color: var(--roninYellow);
  margin-bottom: 10px;
  font-size: 2rem;
  border-bottom: 2px solid var(--roninYellow);
  padding-bottom: 5px;
}

.project-list {
  list-style: none;
  padding: 0;
}

.project-list li {
  background-color: var(--sumiInk2);
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  transition: transform 0.2s;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.profile-link {
  display: inline-block;
  color: var(--crystalBlue);
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.profile-link:hover {
  transform: scale(1.05);
  color: var(--roninYellow);
}


.project-list li:hover {
  transform: scale(1.03);
}



.education {
  background-color: var(--sumiInk1);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.education-details {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 13px;
}

.education-summary,
.education-courses {
  background-color: var(--sumiInk2);
  padding: 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.education-summary:hover,
.education-courses:hover {
  transform: translateY(-3px);
}

.education-courses h3 {
  margin-bottom: 10px;
  color: var(--roninYellow);
}

.education-courses ul {
  list-style-type: disc;
  margin-left: 20px;
}

footer {
  background-color: var(--waveBlue1);
  padding: 40px 20px;
  text-align: center;
  color: var(--fujiWhite);
  border-top: 1px solid var(--sumiInk4);
}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.review {
  background-color: var(--sumiInk2);
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  width: 90%;
  max-width: 600px;
  transition: transform 0.2s;
}

.review:hover {
  transform: scale(1.02);
}

/* Contact Form Container */
.contact-form {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--sumiInk1);
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.form-group {
  margin-bottom: 15px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--sumiInk4);
  border-radius: 5px;
  background-color: var(--sumiInk0);
  color: var(--fujiWhite);
  font-size: 1rem;
  box-sizing: border-box;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: var(--crystalBlue);
  color: var(--fujiWhite);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: var(--waveAqua2);
}

@media (max-width: 600px) {
  .contact-form {
    padding: 15px;
  }

  .form-group input,
  .form-group textarea {
    font-size: 0.9rem;
  }

  button[type="submit"] {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  nav {
    flex-direction: row;
    align-items: space-between;
    padding: 10px;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }

  .hero-section {
    padding: 30px 10px;
  }

  h2 {
    font-size: 1.5rem;
  }
}
